<html>
    <head>
        {% if title %}
        <title>{{ title }} - To Do List</title>
        {% else %}
        <title>Welcome to To Do!</title>
        {% endif %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="{{ url_for('static',filename='js/btswcalc.js') }}">
        </script>
    </head>
    <body>
        <!-- basic navbar link -->
        <div>To Do: <a href="/index">Home</a></div>

        <hr> <!-- horizontal line -->

        {% block content %}{% endblock %}
    </body>
</html>
