{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ user.username }}!</h1>

    {% for todo in todos %}
    <div><p>
      {{ todo.author.username }} says: <b>{{ todo.body }}</b>
    </p></div>
    {% endfor %}

    <table>
      <thead>
        <tr>
          <th>Card Stat Calculator</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Card Name</td>
          <td><input type="text" id='name' value='Pure White Sugar'></td>
        </tr>
        <tr>
          <td>Stars</td>
          <td><input type="number" id='stars' value='4'></td>

        </tr>
        <tr>
          <td>Current Level</td>
          <td><input type="number" id='level' value=''></td>

        </tr>
        <tr>
          <td>Empathy</td>
          <td><input type="number" id='empathy' value='298'></td>

        </tr>
        <tr>
          <td>Passion</td>
          <td><input type="number" id='passion' value='1408'></td>

        </tr>
        <tr>
          <td>Stamina</td>
          <td><input type="number" id='stamina' value='931'></td>
        </tr>
        <tr>
          <td>Wisdom</td>
          <td><input type="number" id='wisdom' value='640'></td>
        </tr>
      </tbody>
    </table>
    <button class="submitButton" type="button" name="button" id="calc" onclick="calculate()" >Calculate</button>
    <div class="result">
      <table>
        <thead>
          <th>Level</th>
          <th>Empathy</th>
          <th>Passion</th>
          <th>Stamina</th>
          <th>Wisdom</th>
        </thead>
        <tbody>
          <tr id='lvl30'>
            <td>30</td>

          </tr>
          <tr id='lvl50'>
          </tr>
        </tbody>
      </table>

      <script type="text/javascript">
        function calculate(){
          let emp = document.getElementById('empathy').value
          let pas = document.getElementById('passion').value
          let sta = document.getElementById('stamina').value
          let wis = document.getElementById('wisdom').value

          let e = parseInt(emp) + (26*30)
          let p = parseInt(pas) + (39*30)
          let s = parseInt(sta) + (26*30)
          let w = parseInt(wis) + (26*30)


          let el = document.getElementById('lvl30')
          el.innerHTML=(`
              <td>30</td>
              <td>${e}</td>
              <td>${p}</td>
              <td>${s}</td>
              <td>${w}</td>`)
          document.getElementById('lvl50').innerHTML=(`
            <td>50</td>
            <td>${e+(26*20)}</td>
            <td>${p+(39*20)}</td>
            <td>${s+(26*20)}</td>
            <td>${w+(26*20)}</td>

          `)
        }
      </script>
    </div>
{% endblock %}
